.wrapper {
}

.overview-wrapper {
    width: 100%;
    padding: 20px;
}
.overview {
    width: 100%;
    max-width: 1000px;
}

.editor-wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 20px;
    padding: 2px;
}

.editor {
}
