.wrapper {
    width: 300px;
    margin: 10px 0 10px 10px;
}

.cover-img {
    width: 300px;
    height: 182px;
    object-fit: cover;
}

.tags-drawer {
    padding: 20px 5px 0 5px;
    text-align: center;
}
