.wrapper {
    padding: 20px;
}

.select-wrapper {
    .time-select {
        padding: 5px;
        background-color: var(--secondary);
        border-radius: 7px;
        margin-top: 10px;
    }
    .status-select {
        padding: 5px;
        margin-left: 5px;
        background-color: var(--secondary);
        border-radius: 7px;
        margin-top: 10px;
    }
}
