.wrapper {
}

.header {
    padding: 0;
    background-color: transparent;
}

.logo {
    position: absolute;
    background-color: aqua;
    width: var(--default-layout-header-height);
}

.content-wrapper {
}

.slider {
}

.content {
}

.footer {
    padding: 0;
}

.to-home-btn {
    // margin-bottom: 10px;
}

.to-top-btn {
    // text-align: center;
    margin-top: 15px;
    // width: 70px;
    // height: 70px;
}
