.wrapper {
    background-color: #f4f5f5;
}

.title {
    color: var(--primary) !important;
}
.content {
    width: 100%;
}

@media (max-width: 1300px) {
    .content {
        padding: 10px;
    }
}

@media (min-width: 1700px) {
    .content {
        padding: 10px 200px 10px 200px;
    }
}

.card {
    width: 300px;
    margin-bottom: 10px;
}

.cover-img {
    width: 300px;
    height: 182px;
    object-fit: cover;
}

.tags-drawer {
    padding: 20px 5px 0 5px;
    text-align: center;
}

.btn {
    width: var(--default-floating-button-size);
    height: var(--default-floating-button-size);
}

@keyframes moveBackAndForth {
    0% {
        transform: translateX(0px);
    }
    30% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(7px);
    }
    70% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(0px);
    }
}

.next {
    animation: moveBackAndForth 2s infinite;
}
