p {
    padding: 5px;
}

h2 {
    padding-right: 10px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.wrapper {
    min-height: 100vh;
}

.header {
    padding: 0;
    background-color: transparent;
}

.logo {
    position: absolute;
    width: var(--default-layout-header-height);
    padding: 5px;
    left: 15px;
}

.account {
    width: var(--default-layout-header-height);
    height: var(--default-layout-header-height);
    position: absolute;
    top: 0;
    right: 14px;
}

@media (max-width: 500px) {
    .account {
        top: calc(var(--default-layout-header-height) + 10px);
        box-shadow: rgba(99, 99, 99, 0.8) 0px 2px 8px 0px;
        border-radius: 50%;
        width: var(--default-floating-button-size);
        height: var(--default-floating-button-size);
        z-index: 10;
    }
    .account-btn {
        width: var(--default-floating-button-size) !important;
        height: var(--default-floating-button-size) !important;
    }
}

.account-btn {
    width: var(--default-layout-header-height);
    height: var(--default-layout-header-height);
    // border: none;
    // box-shadow: none;
    padding: 0;
}

.content-steps {
    padding: 20px;
}

.content-wrapper {
    margin: auto;
    padding: 20px;
}

.content {
    max-width: 700px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

.title-switch {
    padding: 10px 0 5px 0;
}

.title-alone {
    padding: 10px 0;
}

.footer {
    padding: 0;
}

.to-top-btn-group {
    margin-right: 10px;
}

.to-top-btn {
    margin-top: 15px;
    width: var(--default-floating-button-size);
    height: var(--default-floating-button-size);
    background-color: var(--primary);
}
