.wrapper {
    margin-bottom: 10px;
    min-width: 300px;
    max-width: 600px;
    cursor: default;
}

.top-row {
    margin-top: 10px;
}

.cover-img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.tags-drawer {
    padding: 20px 5px 0 5px;
    text-align: center;
}
