.wrapper {
}

.search-input-wrapper {
    padding: 5px;
    margin-bottom: 10px;
    background-color: var(--primary);
    border-radius: var(--infinite-border-radius);
    box-shadow: var(--box-shadow);
}

.search-input {
    border-radius: var(--infinite-border-radius);
}

.tags-drawer-wrapper {
    padding: 5px 10px;
    background-color: var(--primary);
    border-radius: var(--infinite-border-radius);
    box-shadow: var(--box-shadow);
}
